<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Add Authorized User</h4>
</div>
<div class="modal-body" >
    <div class="form-group">
        <label for="emailAddress">Email Address<span class="required">*</span></label>
        <input class="form-control" ng-model="object.emailAddress" name="emailAddress" autofocus/>
        <span class="help-inline" ng-show="hasError('emailAddress')">{{getError("emailAddress")}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
