<div>
	<form class="navbar-form navbar-left">
		<label for="competition">Choose a competition</label>
		<select name="competition" 
	            class="form-control" 
	            ng-model="competition" 
	            ng-options="competition.name for competition in competitions track by competition.id">
		</select>
		<button type="button" class="btn btn-default"
				ng-click="displayPointsTable(competition)">Display</button>
	</form>
</div>
<br />
<div>
	<h1>{{pointsTable.competition.name}}</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Boat Name</th>
				<th>Place</th>
				<th ng-repeat="race in pointsTable.races">
					{{race.raceDate | date:'shortDate'}} 
				</th>
				<th>Total</th>
				<th>Total With Drops</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="boatPoints in pointsTable.pointsForBoat">
				<td>{{boatPoints.boat.name}}</td>
				<td>{{boatPoints.place}}</td>
				<td ng-repeat="points in boatPoints.points">
					{{points}}
				</td>
				<td>{{boatPoints.total}}</td>
				<td>{{boatPoints.totalWithDrops}}</td>
			</tr>
		</tbody>
	</table>
</div>
