
<h1>{{raceSeries.name}}</h1>

<uib-tabset>
    <uib-tab index="0" heading="Results">
        <div ng-include="'views/resultlist.html'" ng-controller="resultListController"/>
    </uib-tab>
    <uib-tab index="1" heading="Races">
        <div ng-include="'views/racelist.html'" ng-controller="raceController"/>
    </uib-tab>
    <uib-tab index="2" heading="Registered Boats">
        <div ng-include="'views/boatlist.html'" ng-controller="boatController"/>
    </uib-tab>
    <uib-tab index="3" heading="Points">
        <div ng-include="'views/pointstable.html'" ng-controller="pointsController"/>
    </uib-tab>
    <uib-tab index="4" heading="Settings">
        <div ng-include="'views/raceseriessettings.html'" />
    </uib-tab>
    
</uib-tabset>
