 <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
         <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Race</h4>
 </div>
 <div class="modal-body" >
     <div class="form-group">
         <label for="raceName">Race Name</label>
         <input class="form-control" ng-model="object.name" />
         <span class="help-inline" ng-show="hasError('name')">{{getError("name")}}</span>
     </div>
     <div class="form-group">
         <label for="raceDate">Race Date<span class="required">*</span></label>
         <div class="input-group" >
             <input  type="text" 
                 class="form-control" 
                 uib-datepicker-popup="{{format}}" 
                 ng-model="object.raceDate" 
                 is-open="raceDatePopup.opened" 
                 datepicker-options="dateOptions" 
                 ng-required="true" 
                 close-text="Close" 
                 alt-input-formats="altInputFormats" />
             <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="raceDatePopupOpen()">
                     <i class="glyphicon glyphicon-calendar"></i>
                 </button>
             </span>
         </div>
         <span class="help-inline" ng-show="hasError('raceDate')">{{getError("raceDate")}}</span>
     </div>
     <div class="form-group">
         <label for="fleet">Fleet<span class="required">*</span></label>
         <select name="fleet" 
             class="form-control" 
             ng-model="object.fleet" 
             ng-options="fleet.fleetName for fleet in fleets track by fleet.id"
             required>
         </select>
     </div>
     <div class="form-group">
         <div class="panel panel-default">
             <div class="panel-heading">Competitions</div>
             <div class="panel-body">
                 <table class="table table-striped" >
                     <thead>
                         <tr>
                             <th>Competition Name</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="competition in object.competitions">
                             <td>
                                 <button type="button" class="btn" ng-click="removeCompetition(competition)" >
                                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                 </button>
                                 {{competition.name}}</a>
                             </td>
                         </tr>
                     </tbody>                 
                 </table>
                 <p class="help-block" ng-show="(object.competitions === undefined || object.competitions.length == 0)">No competitions selected</p>
                 <div class="container-fluid">
                     <div class="col-sm-4">
                         <select name="competitionToAdd" 
                             class="form-control" 
                             ng-model="competitionToAdd" 
                             ng-options="competition.name for competition in competitions | competitionForFleet: object.fleet | notAlreadySelected: object.competitions track by competition.id"
                             required>
                         </select>
                     </div>
                     <div class="col-sm-2 bottom-column">
                         <button class="btn" type="button" ng-click="addCompetition(competitionToAdd)" ng-enabled="angular.isDefined($scope.competitionToAdd)">Add</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
 </div>
