<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default" heading="Boat Classes" >
	    <div ng-include="'views/boatclasslist.html'" />
    </div>
    <div uib-accordion-group class="panel-default" heading="Fleets">
        <div ng-include="'views/fleetlist.html'" />    
    </div>
    <div uib-accordion-group class="panel-default" heading="Competitions">
        <div ng-include="'views/competitionlist.html'" />    
    </div>
    <div uib-accordion-group class="panel-default" heading="Authorized Users">
        <div ng-include="'views/authorizeduserlist.html'" />    
    </div>
</div>
