
<div class="col-sm-3 col-md-3" id="race-select">
	<uib-accordion close-others="true" ng-repeat="raceDay in raceDays">
		<div uib-accordion-group class="panel-default" heading="{{raceDay.day | date:'dd/MM/yyyy'}}" is-open="raceDay.isOpen">
			<div class="list-group" ng-repeat="race in raceDay.races" >
				<a ng-click="selectRace(race.id)" class="list-group-item list-group-item-action" ng-class="{active: selectedRace.id == race.id}">
					{{race.fleet.fleetName}} - {{race.name}}
				</a>
			</div>
		</div>
	</uib-accordion>
</div>

<div class="col-sm-9 col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{selectedRace.fleet.fleetName}} - {{selectedRace.name}} {{selectedRace.raceDate | date:'dd/MM/yyyy'}}</h3>
	  </div>
	  <div class="panel-body">
	  	<form class="navbar-form navbar-left">
        	<div class="form-group">
        	<label for="status">Status</label>
        	<input type="text" class="form-control" name="status" placeholder="Status" ng-model="selectedRace.raceStatus" disabled>
        	</div>
			<button type="button" class="btn btn-default"
	        		ng-click="updateRaceStatus(selectedRace)">Update Race Status </button>
			<button type="button" class="btn btn-default"
	        		ng-click="addNonStarters(selectedRace)">Add Non-starters</button>
      	</form>
	  	<div class="btn-group pull-right" role="group" aria-label="...">
	    	<button type="button" class="btn btn-default" ng-click="newObject()">
	        	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	    	</button>
	    	<button type="button" class="btn btn-default"
	        		ng-click="loadPage(page.number)">
	        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	    	</button>
		</div>
	  
	  	<table class="table table-striped">
		    <thead>
		        <tr>
		            <th>Boat Name</th>
		            <th>Sail Number</th>
		            <th>Handicap</th>
		            <th>Result</th>
		            <th>Start Time</th>
		            <th>Finish Time</th>
		            <th>Sailing Time</th>
		            <th>Corrected Time</th>
		            <th>Handicap Place</th>
		            <th>Scratch Place</th>
		        </tr>
		    </thead>
		    <tbody>
			    <tr ng-repeat="raceResult in page.content">
			        <td>
			            <button type="button" class="btn" ng-click="deleteObject(raceResult.id)">
			                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			            </button>
			            <a ng-click="editObject(raceResult.id)">{{raceResult.boat.name}}</a>
			        </td>
			        <td>{{raceResult.boat.sailNumber}}</td>
			        <td>{{raceResult.handicap}}</td>
			        <td>{{raceResult.status}}</td>
			        <td>{{raceResult.startTime | date:'hh:mm:ss'}}</td>
			        <td>{{raceResult.finishTime | date:'hh:mm:ss'}}</td>
			        <td>{{raceResult.sailingTime | durationToHHMMSS}}</td>
			        <td>{{raceResult.correctedTime | durationToHHMMSS}}</td>
			        <td>{{raceResult.handicapPlace}}</td>
			        <td>{{raceResult.scratchPlace}}</td>
			    </tr>
		    </tbody>
		</table>
		<table-list-nav />
	  </div>
	</div>
</div>