.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


/*Set the row height to the viewport*/
.row-height{
  height: 100vh;
}

.scrollable{
  height: 100%;
  overflow-y: scroll;
}
