<div class="btn-group float-right" role="group" aria-label="...">
    <button type="button" class="btn" (click)="addAuthorizedUser()">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
    </button>
    <button type="button" class="btn" (click)="loadPage(getPageNumber())">
        <fa-icon [icon]="faSync"></fa-icon>
    </button>
  </div>

  <p>Manage users who can edit this race series</p>

  <table name="page.content" class="table table-striped" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Email address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let authorizedUser of authorizedUsers">
        <td>
          <button *ngIf="!authorizedUser.currentUser" type="button" class="btn" (click)="deleteAuthorizedUser(authorizedUser)" >
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
          {{authorizedUser.name}}
        </td>
        <td>{{authorizedUser.emailAddress}}</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    *ngIf="(numPages > 1)"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="collectionSize"
    (pageChange)="loadPage($event)"></ngb-pagination>
